body {
	font-family: 'Times New Roman', Times, 'Courier New', Courier, monospace, sans-serif;
  margin: 0px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 0;
  background-color: rgb(10, 10, 10);
  
}

.s-m{
  float: right;
  position: relative;
  margin-right: 8px;
}

.s-m a{
display: inline-flex;
width: 22px;
height: 22px;
background: none;
color:#fff;
margin: 0 5px;
border-radius: 60px;
justify-content:  center;
align-items: center;
transition: 0.4s;
font-size: 20px;

}
.s-m a:hover{
background: #f3ef00;
}

#facebook{
  color: #1877F2;
}

#twitter{
  color: #1DA1F2;
}

#instagram{
  color: #E4405F;
}

.div1{
  color: rgb(4, 0, 0);
  width:50%;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  }
  
.titlepic{
  height: 80%;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}
.titlename{
  padding-bottom: 45px;
  padding-top:0px;
  padding-left:20px;
  margin:0px;
  
}


header {
	background-color: #ac9d9d;
	color: #f3ef00;
  border-radius: 8px;
}

nav ul {
	list-style: none;
	margin: 50px;
	padding: 0px;
}

nav ul li {
	display: inline-block;
}

.book{
  text-align: center;
}
.row{
  display: flex;
  background-color: rgb(218, 199, 33);
  margin: 10px;
}
.div2{
  flex: 30%;

}
.contact{
  text-align: center;
}

 .book{
  color:#fff
}

.booknow {
  
  margin-top: 0px;
  margin-bottom: 0;
  padding: 0px;
}

.cabby{
  width: 0px;
  margin-left: 0px;

}
.offer{
  text-align: center;
  background-color: rgb(200, 229, 36);
}




.service{
  text-align: center;
  color:#fff;
}
